/* CSS HEX */
/* color palette */
body {
color: charcoal #264653ff;
color: persian-green #2a9d8fff;
color: orange-yellow-crayola #e9c46aff;
color: sandy-brown #f4a261ff;
color: burnt-sienna #e76f51ff;
}
body {
color: midnight-green-eagle-green #1a535cff;
color: medium-turquoise #4ecdc4ff;
color: mint-cream #f7fff7ff;
color: bittersweet #ff6b6bff;
color: naples-yellow #ffe66dff;

}
