/* CSS HEX */
/* color palette */
/* body {
color: charcoal #264653ff;
color: persian-green #2a9d8fff;
color: orange-yellow-crayola #e9c46aff;
color: sandy-brown #f4a261ff;
color: burnt-sienna #e76f51ff;
} */

/* CSS HEX */
/* --midnight-green-eagle-green: #1a535cff;
--medium-turquoise: #4ecdc4ff;
--mint-cream: #f7fff7ff;
--bittersweet: #ff6b6bff;
--naples-yellow: #ffe66dff; */